<section class="footer-section">
    <div class="footer-overlay"></div>
    <div class="footer-content">
        <div class="breadcrumb-nav">
            <a routerLink="/" class="breadcrumb-link">Home</a>
            <span class="breadcrumb-separator">/</span>
            <span class="breadcrumb-current">Privacy And Policy</span>
        </div>
        <h1 class="fs-1">Privacy And Policy</h1>

    </div>
    <div class="video-background">
        <video autoplay muted loop playsinline preload="auto">
          <source src="assets/4943965_Hieroglyphics_Egypt_1280x720.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
</section>
<div class="all">
    <div class="container">
        <div class="section">
            <h2>Privacy Policy of Saba Tours
            </h2>
            <ul>
                <li>Read and Continue </li>
                <li>Information Collection and Use
                </li>
                <li>Log Data
                </li>
                <li>Cookies
                </li>
                <li>
                    Service Providers

                </li>

                <li>Security
                </li>
                <li>Links to Other Sites
                </li>
                <li>Children’s Privacy
                </li>

                <li>Changes to This Privacy Policy

                </li>
                <li>Contact Us

                </li>
            </ul>
        </div>
        <!-- Cancellations & Refunds Section -->
        <div class="section">
            <h2>Read and Continue


            </h2>
            <ul>
                <li>Saba Tours operates the sabatours.com website, which provides the Trips to Egypt.


                </li>
                <li>
                    This page is used to inform website visitors regarding our policies with the collection, use, and
                    disclosure of Personal Information if anyone decided to use our Service, the sabatours.com website.

                </li>
                <li>
                    If you choose to use our Service, then you agree to the collection and use of information in
                    relation with this policy. The Personal Information that we collect are used for providing and
                    improving the Service. We will not use or share your information with anyone except as described in
                    this Privacy Policy.


                </li>
                <li>
                    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which
                    is accessible at Website sabatours.com, unless otherwise defined in this Privacy Policy.

                </li>


            </ul>
        </div>

        <!-- Changes Section -->
        <div class="section">
            <h2>Information Collection and Use
            </h2>
            <ul>
                <li>
                    For a better experience while using our Service, we may require you to provide us with certain
                    personally identifiable information, including but not limited to your name, phone number, and
                    postal address. The information that we collect will be used to contact or identify you.
                </li>
            </ul>
        </div>

        <!-- Insurance Section -->
        <div class="section">
            <h2>Log Data
            </h2>
            <ul>
                <li>
                    We want to inform you that whenever you visit our Service, we collect information that your browser
                    sends to us that is called Log Data. This Log Data may include information such as your computer’s
                    Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and
                    date of your visit, the time spent on those pages, and other statistics.
                </li>
            </ul>
        </div>

        <!-- Waiver of Responsibility Section -->
        <div class="section">
            <h2>Cookies </h2>
            <ul>
                <li>
                    Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
                    These are sent to your browser from the website that you visit and are stored on your computer’s
                    hard drive.

                </li>
                <li>
                    Our website uses these “cookies” to collection information and to improve our Service. You have the
                    option to either accept or refuse these cookies, and know when a cookie is being sent to your
                    computer. If you choose to refuse our cookies, you may not be able to use some portions of our
                    Service.


                </li>
            </ul>
        </div>

        <!-- Waiver of Responsibility Section -->
        <div class="section">
            <h2>Service Providers



            </h2>
            <ul>
                <li>
                    We may employ third-party companies and individuals due to the following reasons:

                    <ul>
                        <li>To facilitate our Service;
                        </li>
                        <li>To provide the Service on our behalf;
                        </li>
                        <li>To perform Service-related services; or
                        </li>
                        <li>To assist us in analyzing how our Service is used.
                        </li>
                    </ul>

                </li>
                <li>
                    We want to inform our Service users that these third parties have access to your Personal
                    Information. The reason is to perform the tasks assigned to them on our behalf. However, they are
                    obligated not to disclose or use the information for any other purpose.


                </li>
            </ul>
        </div>

        <div class="section">
            <h2>Links to Other Sites


            </h2>
            <ul>
                <li>
                    Our Service may contain links to other sites. If you click on a third-party link, you will be
                    directed to that site. Note that these external sites are not operated by us. Therefore, we strongly
                    advise you to review the Privacy Policy of these websites. We have no control over, and assume no
                    responsibility for the content, privacy policies, or practices of any third-party sites or services.


                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Children’s Privacy


            </h2>
            <ul>
                <li>
                    Our Services do not address anyone under the age of 13. We do not knowingly collect personal
                    identifiable information from children under 13. In the case we discover that a child under 13 has
                    provided us with personal information, we immediately delete this from our servers. If you are a
                    parent or guardian and you are aware that your child has provided us with personal information,
                    please contact us so that we will be able to do necessary actions.


                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Changes to This Privacy Policy


            </h2>
            <ul>
                <li>
                    We may update our Privacy Policy from time to time. Thus, we advise you to review this page
                    periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on
                    this page. These changes are effective immediately, after they are posted on this page.


                </li>
            </ul>
        </div>

        <div class="section">
            <h2>Contact Us
            </h2>
            <ul>
                <li>
                    If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a
                        href="/contact" class="text-decoration-none text-black">contact us</a>.



                </li>
            </ul>
        </div>


        <!-- Bank Account Details Section
        <div class="section bank-details">
          <h2>If you are going to pay for the tour via bank wire, this is our bank account details.
        </h2>
          <div class="bank-accounts">
            <div class="account">
              <p><strong>Account Name:</strong> Al-Sabaa</p>
              <p><strong>Bank:</strong> Arab African International Bank</p>
              <p><strong>Branch:</strong> Al-Rehab</p>
              <p><strong>Account No.:</strong> 1111129101101011</p>
              <p><strong>Swift Code:</strong> ARAIEGCXXX</p>
              <p><strong>IBAN:</strong> EG56000557992001111129101101011</p>
              <p><strong>Company Address:</strong> 116, Jumera Mall, Al-Haram, Giza, Egypt</p>
            </div>
            <div class="account">
              <p><strong>Account Name:</strong> Al-Sabaa</p>
              <p><strong>Bank:</strong> BANQUE MISR</p>
              <p><strong>Branch:</strong> Giza Museum</p>
              <p><strong>Account No.:</strong> 789123456789123</p>
              <p><strong>Swift Code:</strong> BMISREGCXXX</p>
              <p><strong>IBAN:</strong> EG7100020000000789123456789123</p>
              <p><strong>Company Address:</strong> 116, Jumera Mall, Al-Haram, Giza, Egypt</p>
            </div>
          </div>
          <p class="note">
            - Please add a photo/scan of the bank receipt that is a payment for a tour to Egypt.
            <br>
            – Please send a photocopy of the bank receipt for the transfer.
    
          </p>
        </div> -->
    </div>
</div>